%h1 Who did we build it for
%p
  Foremost we designed Androcommerce as attractive solution for  small business and start-ups.
  Traditionally e-commerce providers targeted large sippliers and well established brands.
  But not all e-commerce platforms were born equal. Instead a global commerce which is trully global: trade bariers are destroyed, discrimination is erased. We invite you to join on this exciting journey regardless of your business pedigree, geographical location, or size of your balance sheet. Are you having your drreams in Brazil, England, Africa or China? Common in, join us, together we can make it come true!

%h1 How does it work
.step-circle
  %span Download Vendor App
%em.icon-chevron-right.huge-icon
.step-circle
  %span Create new store
%em.icon-chevron-right.huge-icon
.step-circle
  %span Populate store catalogue with doods or services
%em.icon-chevron-right.huge-icon
.step-circle
  %span Publish the Storefront app
%em.icon-chevron-right.huge-icon
.step-circle
  %span Promote your Storefront app 


.col-xs-12.text-center
  = link_to "Enroll to be among first Androcommerce Vendors, or as we call them, Pilots!", 'http://androcommerce.com', class: 'btn btn-default btn-lg btn-enroll'