%h2 Pricing model
%table.table
  %thead
    %tr
      %th Parameter
      %th Free Plan
      %th Payments
    %tbody
      %tr
        %td Download of Vendor app
        %td Free
        %td -
      %tr
        %td Number of storefronts per google account
        %td 1
        %td 9$ per mpnth for each additional
      %tr
        %td Number of products or services
        %td 20
        %td 9$ per month per each additional 50 items
      %tr
        %td Number of storefront users
        %td 500
        %td 9$ per month per each additional 500 users
      %tr
        %td Dedicated page of storefront and its products on Androcommerce Market
        %td yes
        %td -
      %tr
        %td Dedicated Android app for storefront, ready to Play Market
        %td yes
        %td -
      %tr 
        %td Dedicated iOS Storefront app, ready for App Store
        %td no
        %td 99$
      %tr
        %td Maitainance of servers
        %td yes 
        %td -
      %tr 
        %td Tech Support via email
        %td 9 a.m. - 9 p.m. ET, Mon-Fri
        %td -
      %tr 
        %td Tech Consulting, Customization and Custom Development
        %td no
        %td Will be estimated on your request

= render 'shared/enroll_button'
