%h1 TERMS AND CONDITIONS OF SALE OF ANDROCOMMERCE.COM

%p
  %b 1 DEFINITIONS
  %br
  1.1 "Buyer" means the individual or organisation who buys or agrees to buy the Services from the 
  Supplier;
  %br
  1.2 "Consumer" shall have the meaning ascribed in section 12 of the Unfair Contract Terms Act 
  1977;
  %br
  1.3 "Contract" means the contract between the Supplier and the Buyer for the provision of 
  Services incorporating these Terms and Conditions;
  %br
  1.4 "Services" means the services that the Buyer agrees to buy from the Supplier;
  %br
  1.5 "Supplier" means DroidBrew Ltd. of 9 Belmont Close, London, England, E4 9UL that owns 
  and operates ANDROCOMMERCE.COM;
  %br
  1.6 "Terms and Conditions" means the terms and conditions for the provision of Services set out 
  in this agreement and any special terms and conditions agreed in writing by the Supplier;
  %br
  1.7 "Website" means ANDROCOMMERCE.COM.
  %br
  %br


  %b 2 CONDITIONS
  %br
  2.1 Nothing in these Terms and Conditions shall affect the Buyer’s statutory rights as a 
  Consumer.
  %br
  2.2 These Terms and Conditions shall apply to all contracts for the provision of Services by the 
  Supplier to the Buyer and shall prevail over any other documentation or communication from 
  the Buyer.
  %br
  2.3 Any variation to these Terms and Conditions (including any special terms and conditions 
  agreed between the parties) shall be inapplicable unless agreed in writing by the Supplier.
  %br
  2.4 Any complaints should be addressed to the Supplier's address stated in clause 1.5.
  %br
  2.5 Any special conditions applying to the provision of the Services are set out in the Schedule to 
  this agreement.
  %br
  %br
  %b 3 ORDERING
  %br
  3.1 All orders for Services shall be deemed to be an offer by the Buyer to purchase Services 
  pursuant to these Terms and Conditions and are subject to acceptance by the Supplier. The 
  Supplier may choose not to accept an order for any reason.
  %br
  3.2 When making an order through the Website, the technical steps the Buyer needs to take to 
  complete the order process are described in THE ORDER PROCESS SECTION of the 
  website.
  %br
  %br
  %b 4 PRICE AND PAYMENT
  %br
  4.1 The price of the Services shall be that stipulated on the Website. The price is INCLUSIVE of 
  VAT. 
  %br
  4.2 The total purchase price, including VAT, if any, will be displayed in the Buyer’s shopping cart 
  prior to confirming the order. 
  %br
  4.3 After the order is received the Supplier shall confirm by email the details, description and 
  price for the Services together with information on the right to cancel if the Buyer is a Consumer
  %br
  4.4 Payment of the price plus VAT, if applicable, must be made as specified in Website prices 
  and fees schedule. Payment must be made without deduction or set-off.
  %br
  4.5 Where applicable, if any payment is not paid on time or any payment is rejected or refused, 
  the amount owing will be treated as overdue and the Supplier will be entitled immediately to 
  cease or suspend the provision of the relevant Service until payment has been received.
  %br
  4.6 Where applicable, the Supplier shall be entitled to charge interest on overdue invoices from 
  the date when payment becomes due from day to day until the date of payment at a rate of 
  4% per annum above the base rate of Barclays Bank PLC. from time to time in force.
  %br
  %br
  %b 5 PERFORMANCE
  %br
  5.1 The Supplier shall begin to perform the Services within 14 working days of order placed.
  %br
  5.2 The Supplier shall perform the Services with reasonable skill and care. However, where 
  applicable, the Supplier does not guarantee that the Services will be uninterrupted, secure or 
  error-free or that any data generated, stored, transmitted or used via or in connection with the 
  Services will be complete, accurate, secure, up to date, received or delivered correctly or at 
  all. The Supplier may have to suspend the Services for repair, maintenance or improvement. 
  If so, the Supplier will restore them as quickly as is reasonably possible.
  %br
  5.3 The Services are subject to an initial contract period of one month and shall continue thereafter on monthly basis unless and until terminated in accordance with clauses 5.4 and 5.5.
  %br
  5.4 Subject to clause 5.3, either party may terminate this agreement (as regards some or all of the Services) at any time for any reason by giving to the other 30 days written notice, and any payment due remains payable and, if already paid, will be refunded.
  %br
  5.5 The Supplier may terminate this agreement (as regards some or all of the Services) or suspend some or all of the Services immediately on written notice if the Buyer breaches any term of this agreement, and any payment due remains payable and, if already paid, will be non-refundable.
  %br
  %br
  %b 6 RIGHTS OF SUPPLIER
  %br
  6.1 The Supplier reserves the right to periodically update prices on the Website, which cannot be guaranteed for any period of time. The Supplier shall make every effort to ensure prices are correct at the point at which the Buyer places an order.
  %br
  6.2 The Supplier reserves the right to withdraw the Services from the Website at any time.
  %br
  6.3 The Supplier shall not be liable to anyone for withdrawing the Services from the Website or for refusing to process an order.
  %br
  %br
  %b 7 AGE OF CONSENT
  %br
  7.1 Where the Services may only be purchased by persons of a certain age the Buyer will be asked when placing an order to declare that they are of the appropriate legal age to purchase the Services.
  %br
  7.2 If the Supplier discovers that the Buyer is not legally entitled to order certain Services, the Supplier shall be entitled to cancel the order immediately, without notice.
  %br
  %br
  %b 8 CANCELLATION 
  %br
  The Buyer has the right to cancel the Contract, by notice in writing, at any time before seven 
  working days has passed from the day after the Contract was made. If, however, the Supplier 
  starts to perform its side of the Contract with the agreement of the Buyer before the Buyer 
  exercises this right to cancel, the right to cancel is lost.
  %br
  %br
  %b 9 LIMITATION OF LIABILITY
  %br
  9.1 Except as may be implied by law where the Buyer is dealing as a Consumer, in the event of 
  any breach of these Terms and Conditions by the Supplier the remedies of the Buyer shall be 
  limited to damages which shall in no circumstances exceed the price of the Services and the
  Supplier shall under no circumstances be liable for any indirect, incidental or consequential 
  loss or damage whatever.
  %br
  9.2 Nothing in these Terms and Conditions shall exclude or limit the liability of the Supplier for death or personal injury resulting from the negligence of the Supplier or that of the Supplier’s agents or employees.
  %br
  %br
  %b 10 WAIVER
  %br
  No waiver by the Supplier (whether express or implied) in enforcing any of its rights under this agreement shall prejudice its rights to do so in the future.
  %br

  %br
  %b 11 FORCE MAJEURE
  %br
  The Supplier shall not be liable for any delay or failure to perform any of its obligations if the 
  delay or failure results from events or circumstances outside its reasonable control, including 
  but not limited to acts of God, strikes, lock outs, accidents, war, fire or failure of any 
  communications, telecommunications or computer system, and the Supplier shall be entitled 
  to a reasonable extension of its obligations.

  %br
  %b 12 SEVERANCE
  %br
  If any term or provision of these Terms and Conditions is held invalid, illegal or unenforceable 
  for any reason by any court of competent jurisdiction such provision shall be severed and the 
  remainder of the provisions hereof shall continue in full force and effect as if these Terms and 
  Conditions had been agreed with the invalid illegal or unenforceable provision eliminated.
  %br

  %br
  %b 13 CHANGES TO TERMS AND CONDITIONS
  %br
  13.1 The Supplier shall be entitled to alter these Terms and Conditions at any time but this right shall not affect the existing Terms and Conditions accepted by the Buyer upon making a purchase.
  %br
  13.2 Any renewal of the Services will be subject to the Supplier's then current Terms and Conditions.
  %br
  %br

  %b 14 GOVERNING LAW AND JURISDICTION
  %br
  These Terms and Conditions shall be governed by and construed in accordance with the law of England and the parties hereby submit to the exclusive jurisdiction of the English courts.

%br
%br
%h1 Schedule
%h2 Special Conditions
%p
  DROIDBREW and ANDROCOMMERCE are registered trademarks in the UK.
  %br
  %br
  Supplier provided services may not be used to handle content of obscene, profane, or indecent nature. 

  %br
  %br
  %b Nudity and Sexually Explicit Material
  %br
  Supplier dosn't allow content that contains nudity, graphic sex acts, or sexually explicit material or that drives traffic to commercial pornography sites. 
  %br
  %br
  Any child sexual abuse imagery will be immidiately reported to the appropriate authorities. 

  %br
  %br
  %b Violent or Bullying Behavior
  %br

  Supplier provided services must not be used to display materials that threaten, harass or bully other users. 

  %br
  %br
  %b Hate Speech
  %br

  Supplier provided services must not be used for promotion of hatred toward groups of people based on their race or ethnic origin, religion, disability, gender, age, veteran status, or sexual orientation/gender identity. 

  %br
  %br
  %b Age
  %br
  Only users 18 years of age or older are permitted to use Supplier provided services.

  %br
  %br
  %b Impersonation
  %br

  Supplier does not allow impersonation of others or other behavior that is misleading or intended to be misleading. 

  %br
  %br
  %b Private & Confidential Information
  %br

  Supplier provided services must not be used to publish other people's private and confidential information. 

  %br
  %br
  %b Copyright
  %br
  Supplier will respond to clear notices of alleged copyright infringement. 

  %br
  %br
  %b Illegal Activities
  %br

  Supplier provided services must not be used for unlawful purposes or for promotion of dangerous and illegal activities. 

  %br
  %br
  %b Malicious Products
  %br

  Supplier provided services must not be used to transmit viruses, worms, defects, Trojan horses, malware, spam or any other items of a destructive nature. 

  %br
  %br
  %b Prohibited Products
  %br
  Supplier dosn't allow products or services that violate Carrier Term of Service for allowed usage.