%h3 Sorry, it seems your browser is outdated.
Please download one of the following modern browsers and visit this page again:
%br
= link_to "Chrome", "http://www.google.com/chrome/"
%br
= link_to "Firefox", "https://www.mozilla.org/uk/firefox/"
%br
= link_to "Opera", "http://www.opera.com/"