$primary-color:   #ffdb4f;
$secondary-color: #8a451d;
$tertiary-color:  #ad1127;
$font-family-sans-serif: 'Roboto Condensed', 'Helvetica';
$font-family-bases: 'Roboto Condensed', 'Helvetica';

/* navbar */
$navbar-default-bg: $primary-color;
$navbar-height: 88px;
$navbar-default-link-color: $secondary-color;
$navbar-default-link-active-color: $tertiary-color;
$navbar-default-link-active-bg:   none;
$navbar-default-link-hover-color: $primary-color;
$navbar-default-link-hover-bg: $secondary-color;